.profile {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    
}


.profile:hover{
    filter: grayscale(100%);
    
}


.git {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}


.image {
    width: 100%;
}

.image-2{
    width: 500px;
}
